:root{
  --background: black;
  --text: white;
  --acc: red;
  --link: blue;
}

nav{
    margin-top: 0;
    background-color: var(--background);
}

.nav-link{
    color: var(--white);
}

.nav-link:hover{
    color: var(--white);
}

#logo{
    width: 25%;
}

#links {
    width: 50%;
    text-align: right;
}

body{
    background-color: var(--background);
}

h1{
color: var(--white);
}

h2{
  color: var(--white);
}

h3{
  color: var(--white);
}

p{
  color: var(--white);
}

.pic{
  width: 150px;
}

.link{
  display: block;
  color: var(--blue);
  font-size: 150%;
  text-decoration: none;

}

#services:hover{
    color: #ed936f;
}

.dropdown-menu{
  color: var(--white);
    background-color: var(--background);
}

.dropdown-item:hover{
    background-color: var(--background);
    color: var(--white);
}

.solution{
  display: inline-block;
  position: relative;
}

.solition p{
  position: absolute;

}

.sol{
  width: 25%;
  margin-left: 6%;
  position: relative;
}
