nav{
    margin-top: 0;
    background-color: #e2e2e2;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: #ed936f;
}

#logo{
    width: 25%;
}

#links {
    width: 50%;
    text-align: right;
}

body{
    background-color: #142634;
}

h1{
color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

p{
  color: white;
}

.pic{
  width: 150px;
}

.link{
  display: block;
  color: red;
  font-size: 150%;
  text-decoration: none;

}
